/* Margin tarvitaan, jotta sivusto täyttää koko viewportin.
text-align: center tarvitaan keskittämään kahden palstan sivulla
olevat otsikkopalkit.*/
body {
    margin: 0;
    text-align: center;
}
/* Tässä luodaan containeri, joka ottaa sisälleen kaikki sivuston
elementit. Position: relative ja min-height: 100vh (=100% viewportin
leveydestä) tarvitaan, jotta saadaan footer elementti pysyvästi
alalaitaan ja varmistamaan että footer ei tule muiden elementtien
päälle. Footerin toimintaan liittyviä määrityksiä on lisää myöhemmin.*/
.page {
    position: relative;
    min-height: 100vh;
    background-color: linen;
}
/* Tässä luodaan containeri, joka pitää sisällään sivuston kaikki
muut elementit paitsi footerin. Tämä yhdessä luokan "page" määritysten
kanssa varmistaa että footer ei tule muiden elementtien päälle 
millään sivuston koolla, tai zoomin tasolla.*/
.contentContainer {    
    padding-bottom: 5em;  
}

/* Seuraavaksi määritetään header-alueen osiot.*/
/* Määritetään header-alue*/
#header {
    float: none;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Playfair Display', serif;
    color: linen;
    /* Parannetaan tekstin näkyvyyttä lisäämällä sinne varjostus.*/
    text-shadow: -0.03em -0.03em 0.03em black, 0.03em -0.03em 0.03em black, -0.03em 0.03em 0.03em black, 0.03em 0.03em 0.03em black;
    padding-bottom: 0;
    padding-top: 0.2em;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;    
    height: 10em;
    max-width: 100vw;
    /* Lisätään taustakuva header-alueelle*/
    background-image: url(/images/bora-bora2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}
/* Määritetään header-alueella olevan lainauksen teksti*/
#headerQuote {
    text-align: center;
    font-size: 0.8em;
    color: linen;    
}
/* Tehdään linkki kielen vaihtamista varten*/
.changeLanguage {
    display: block;
    text-align: right;
    color: linen;    
}
/* Määritetään kielenvaihtamisen linkissä käytettävä lippu*/
.flag {
    height: 0.7em;
    width: auto;
    margin-top: 0.2em;
    margin-right: 0.2em;
}

/* Seuraavaksi määritetään navigaatiopalkin osiot.*/
/* Määritetään navigation bar.*/
.nav {
    background-color: cornflowerblue;
    text-align: center;
    color: black;
    font-family: 'PT Serif', serif;        
    margin-top: 0;    
    padding: 0.85em 0;
    height: 0.3em;
    font-size: 1em;    
}
/* Määritetään nav-palkissa olevan lista,
tulostumaan inline-elementtinä.*/
.nav li {
    display: inline;    
    padding: 0;    
    margin: 0;
}
/* Määritetään listassa olevien linkkien ulkonäkö eri moodeissaan.*/
li a:link {
    color: linen;
    background-color: transparent;
    text-decoration: underline;
    padding: 0 1em;  
}
li a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
li a:hover {
    color: white;
    padding-top: 0.87em;
    padding-right: 1em;
    padding-bottom: 0;
    padding-left: 1em;
    border-radius: 0.2em;
    background-color: blue;
    text-decoration: underline;
}
li a.active {
    background-color: blue;
    color: white;    
    padding-top: 0.87em;
    padding-right: 1em;
    padding-bottom: 0;
    padding-left: 1em;
    border-radius: 0.2em;
}

/* Seuraavaksi määritetään yksipalstaisen sivun osiot.*/
/* Määritetään sisältöalue.*/
.content {
    /* max-width: 90% ja height: auto varmistavat että containeri
    ei koskaan ylitä sivuston rajoja, vaan se kasvaa pystysuunnassa
    sisällön vaatiman määrän.*/
    max-width: 90%;
    height: auto;
    text-align: left;
    color: black;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: 0 5% 3% 5%;
    padding: 0 10%;    
}
/* Määritetään varsinaisen sisältöalueen otsikkopalkit.*/
.contentBanner {
    height: 1.75em;
    background-color: cornflowerblue;
    text-align: center;
    color: linen;
    font-size: 1.2em;
    font-family: 'PT Serif', serif; 
    margin: 0% 10% 0% 10%;
    border-radius: 0.2em;
}
.contentBannerText {
    padding-top: 0.2em;
}

/* Seuraavaksi määritetään kaksipalstaisen sivun osiot.*/
/* Määritetään oikea ja vasen sisältöalue.*/
.twoColumnContent {
    text-align: left;
    width: 35%;
    height: auto;    
    color: black;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    border-radius: 1em;
    padding: 0;    
    display: inline-block;
}
/* Määritetään oikea ja vasen otsikkopalkki.*/
.twoColumnBanner {
    background-color: cornflowerblue;
    height: 1.75em;
    width: 39.80%;
    font-size: 1.2em;
    text-align: center;
    color: linen;
    margin: 0.35% 0% 0 0%;
    border-radius: 0.2em;
    display: inline-block;
}
/* Määritetään otsikkopalkin teksti.*/
.bannerText {
    font-size: 1em;
    margin: 0;
    padding-top: 0.2em;
}

/* Seuraavaksi määritetään historia-sivun muotoilu*/
/* Luodaan alue, jossa aikajanapalkki ja sitä selittävät containerit ovat.*/
.timeline {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}
/* Luodaan vertikaalinen aikajanapalkki.*/ 
.timeline::after {
    content: '';
    position: absolute;
    width: 0.5em;
    background-color: cornflowerblue;
    top: 1em;
    bottom: 1em;
    left: 50%;
    margin-left: -0.25em;
}
/* Määritetään containerit koulutuksille ja työpaikoille.*/
.timelineContent {
    font-family: 'Roboto', sans-serif;
    margin: 1% 0;
    padding: 0.5% 3%;
    position: relative;
    background-color: linen;
    width: 40%;    
    font-size: 1em;
}
/* Tehdään pallukat, jotka sijoitetaan aikajanalle. Koska pallukat
sidotaan olemaan "container"-luokkaan kuuluvan elementin jälkeen,
käyttämällä "::after"-määritystä, saadaan jokaiselle elementille
oma pallukkansa.*/
.timelineContent::after {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    right: -0.8em;
    background-color: cornflowerblue;
    border: 0.3em solid black;
    top: 1em;
    border-radius: 50%;
    z-index: 1;
}
/* Seuraavia määrityksiä käytetään siirtämään aikajanaa selittävät
elementit sopivalle etäisyydelle keskilinjasta. Lisäksi määritetään
tekstin sijainti elementtien sisällä.*/
.left {
    text-align: right;
    left: 4%;
}
.right {
    text-align: left;
    left: 50%;
}
/* Siirretään oikealla olevan elementin pallukka,
elementin vasempaan laitaan.*/
.right::after {
    left: -0.8em;
}

/* Sitten määritetään alapalkin osiot.*/
/* Määritetään alapalkki*/
.footer {    
    background-color: cornflowerblue;
    /* Position: absolute määritys sijoittaa alapalkin, yhdessä
    bottom: 0:n kanssa sivun alalaitaan ja pitää sen siellä.*/
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    /* Kun korkeus on sama kuin luokan "contentContainer" 
    padding-bottom, ei alapalkki tule muiden elementtien päälle.*/
    height: 5em;    
}
.footerText {
    color: linen;
    margin: 0;
    padding: 0;
}
/* Määritetään alapalkin linkit, eli luokkaan "linkInFooter"
kuuluvien linkkien ulkonäkö eri moodeissa.*/
a.linkInFooter:link {    
    color: linen;
    padding: 0 ;
}
a.linkInFooter:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a.linkInFooter:hover {
    color: blue;
    background-color: cornflowerblue;
    padding: 0;
    text-decoration: underline;
}
a.linkInFooter:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

/* Määritetään tekstin seassa oleville linkeille ulkonäkö,
niiden eri moodeissa.*/
a.linkInText:link {    
    color: blue;
    padding: 0 ;
}
a.linkInText:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a.linkInText:hover {
    color: linen;
    background-color: cornflowerblue;
    padding: 0;
    text-decoration: underline;
}
a.linkInText:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

/* Määritetään kuvien sijainti ja koko, sekä kuvaan 
liittyvän tekstin sijainti ja koko*/
/* Tätä luokka käytetään omaan kuvaan.*/
.myPicture {
    width: 20%;
    height: auto;
    padding: 0;
    float: left; 
    margin: 1% 1% 1% 15%;
    border-radius: 0.2em;
}
.pictureText {
    text-align: left;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin-left: 15%;
    margin-right: 20%;
}
/* Tätä luokka käytetään portfolion kuviin.*/
.portfolioPicture {
    width: 15%;
    padding: 0;
    float: left; 
    margin: 1% 1% 1% 15%;
    border-radius: 0.2em; 
    border: 1px dashed black;
}

/* Käytetään "clearfix"-menetelmää, jotta saadaan kuvat
pysymään containerinsa sisällä.*/
.clearfix {
    overflow: auto;
}

/* Tehdään näkymätön otsikko, jotta section-elementit
eivät aiheuta varoitusta validaattorissa*/
.invicible {
    display: none;
}

/* Seuraavaksi tehdään sivusto responsiiviseksi. Kun viewportin
leveys on 600 pikseliä tai vähemmän siirrytään mobiili-asetteluun.
Desktop-asettelua käytetään kun viewportin leveys on 601 pikseliä
tai enemmän.*/

/* Tämä ensimmäinen @media-sääntö on voimassa,kun ollaan 
desktop-näkymässä.*/
@media screen and (min-width: 601px) {
    /* Määritän luokat "mobileHeader" ja "mobileContent" olemassa
    olemattomiksi, kun ollaan desktop-näkymässä. Luokkia "mobileHeader"
    ja "mobileContent" käytän mobiili-asettelussa.*/
    .mobileHeader {
        display: none;
    }
    .mobileContent {
        display: none;
    }
}

/* Tämä toinen @media-sääntö on voimassa kun ollaan 
mobiili-asettelussa.*/
@media screen and (max-width: 600px) {
    /* Ensin määritän headerin ja navigointipalkin olemaan
    niin korkeita kuin sisältö vaatii.*/  
    #header {        
        height: 100%;
        font-size: 1em;
    }
    #headerQuote {
        font-size: 0.6em;
    }
    .flag {
        height: 0.4em;
    }
    .nav {
        height: 100%;
        padding: 0;
        font-size: 0.8em;
    }
    /* Muutetaan navigointipalkin lista näkymään allekkain.*/
    .nav li {
        display: block;
    }
    .nav a:link {
        text-decoration: none;
    }
    .nav a:hover {
        background-color: blue;
        color: white;
        padding: 0;
    }
    li a.active {
        background-color: blue;
        color: white;    
        padding: 0;
    }
    /* Tehdään content-alueen otsikko palkeista, sisällön vaatimuksen
    korkuisia, jos joskus tulee pitkiä otsikoita sivuille.*/
    .contentBanner {
        height: auto;
        font-size: 0.8em;
    }.content {
        font-size: 0.6em;  
    }
    .pictureText {        
        font-size: 0.6em;
    }      

    /* Tehdään desktop-näkymän elementit olemattomiksi*/
    .timeline::after {
        display: none;        
    }    
    .timelineContent {
        display: none;
    }
    .timelineContent::after {
        display: none;
    }
    .twoColumnContent {
        display: none;
    }    
    .twoColumnBanner {
        display: none;
    }
    .container::after {
        display: none;
    }    
    .left {        
        display: none;
    }
    .right {        
        display: none;
    }   
    .right::after {
        display: none;
    }

    /* Tehdään luokat, joita käytetään mobiilinäkymän asettelussa.*/
    .mobileHeader {
        height: 100%;
        background-color: cornflowerblue;
        text-align: center;
        color: linen;
        font-size: 0.8em;
        font-family: 'PT Serif', serif;  
        margin: 0% 10% 0% 10%;
        padding: 0;
        border-radius: 0.2em;
    }
    .mobileHeaderText {
        text-align: center;
    }
    .mobileContent {
        text-align: left;
        padding: 0 8%;
        margin: 0 0 0 8%;
        font-size: 0.6em;
    }  
}